/* Мурдагы тапшырмада билбегендиктен стилдерин App тан бергем ошол мн эле озгорткон жокмун  */
/* А так ар бирине озунчо СSS ачып кылыш керек экенин билем */



header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem 1rem;
  padding: 1rem;
  background-color: #081ad8;
}

h3 {
  padding: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn,
button {
  background-color: orange;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 25px;
  border: none;
}

.rating {
  background-color: #e77c3b;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 25px;
  border: none;
  text-align: center;
}

img {
  width: 300px;
  height: 200px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainBlock {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  background-color: rgb(238, 242, 242);
  border-radius: 20px;
  box-shadow: 1px 5px 5px rgb(80, 75, 75);
  box-shadow: 2px;
  width: 50%;
}

.abc {
  display: flex;
  flex-direction: column;
}
.e {
  display: flex;
} 


